# LaTeX temporary files
*.aux
*.log
*.synctex.gz
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.lof
*.lot
*.brf
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.figlist
*.makefile
*.pdfpc
*.upa
*.upb
*.fls
*.fdb_latexmk
*.ptc
*.minted*
*.figlist
*.makefile
*.mp
*.tui
*.tuc
*.synctex.gz
*.synctex(busy)
